*{
    box-sizing: border-box;
}
.product{
margin: 20px 40px;
}

.product-item{
    display: flex;

}

.product-item-img{
    border-radius: 5px;
    width: 40%;
    height: 70%;
}

.product-item-body{
    margin-left: 20px;

}

.product-item-heading{

    font-weight: 500;
    margin: 0;
    font-size: 24px;
}

.product-item-price{
    margin-top: 15px;

}

.product-item-price-original{
color: rgb(136, 138, 140);
text-decoration: line-through;
font-size: 18px;
margin-right: 20px;
}

.product-item-price-current{
    color: rgb(219, 96, 19);
    font-size: 25px;
}

.product-item-des{
    margin-top: 20px;

}

@media only screen and (max-width:739px) {
    .product{
        margin:  0;
    }
    .product-item{
        flex-direction: column;
    }
    .product-item-img{
        width: 100%;
    }
    .product-item-body{
        display: flex;
        flex-direction: column-reverse;
        
        margin: 20px 0;
    }

    .product-item-des{
        display: none;
    }

}
